.login {
  flex: 1 50%;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login button,
.login input {
  height: 4rem;
  margin: 0.5rem 0rem;
  width: 18rem;
  border-radius: 0.2rem;
  box-shadow: none;
}

.input-box input {
  border-style: solid;
  border-color: rgb(196, 196, 196);
  border-width: 0.09rem;

  width: 15.6rem;
  font-size: 16px;
  padding: 0rem 1rem;
}

input::placeholder {
  color: rgb(133, 133, 133);
}

div {
  border: 0px solid;
}

@media only screen and (max-width: 800px) {
  .login {
    margin-top: 5rem;
  }
}
