.login {
  flex: 1 50%;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login button,
.login input {
  height: 4rem;
  margin: 0.5rem 0rem;
  width: 18rem;
}

.input-box input {
  width: 15.6rem;
  padding: 0rem 1rem;
}

div {
  border: 1px solid;
}

@media only screen and (max-width: 800px) {
  .login {
    margin-top: 5rem;
  }
}
