.new-ad {
  display: flex;
  flex: 1 100%;
  justify-items: center;
}

.new-ad input,
button {
  padding: 1.2rem;
  margin: 0.4rem 0rem;
}
button {
  border-radius: 0.2rem;
  color: white !important;
  border: none;
  font-size: 0.89rem;
  background-color: rgb(55, 115, 167);
}
#down,
#right {
}
.new-ad .vertical-container,
#down {
  display: flex;
  flex-direction: column;
}
.new-ad #right {
  display: flex;
  flex-direction: column;
}

.vertical-container {
  justify-content: space-between;
  border-right: 1px solid;
  border-color: rgb(207, 207, 207);
}

.new-ad #preview {
  height: 300px;
  width: 300px;
  border-color: rgb(221, 221, 221);
}

.left-info {
  display: flex;
  flex-direction: column;
  flex: 1 100%;
}

.image-preview {
  height: 300px;
}
