.preview {
  display: flex;
  background-color: rgb(255, 255, 255);

  flex-direction: column;
  flex: 1 100%;
  margin: 0rem 1rem;
  justify-content: space-between;
  transition: 1s;
  min-width: 300px;
  min-height: 300px;
  animation: foto 1s ease-in-out 1;
}

#foto {
  height: 200px;
  width: 100%;
  transition: 0.5s;
}

#foto img {
  height: 100%;
  width: auto;
}
@keyframes foto {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

#info {
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  transition: 2s;
}

.title {
  font-size: 0.8rem;
  color: black;
  font-style: italic;
}

.price {
  font-size: 0.8rem;
}

#info * {
  margin: 0.25rem;
}

#foto:hover {
  transform: scale(1.04);
  transition: 0.5s;
}

@media only screen and (max-width: 900px) {
  .preview {
    flex-direction: column;
    flex: 1 100%;
  }
  #foto {
    height: auto;
    width: 100%;
  }
  #foto img {
    width: inherit;
    height: auto;
  }
}
