.preview {
  display: flex;
  background-color: rgb(255, 255, 255);

  flex-direction: column;

  margin: 0rem 0.2rem;
  justify-content: space-between;
  transition: 1s;
}
#foto {
  height: 12rem;

  width: 100%;
}
#foto img {
  height: 100%;
  width: auto;

  transition: 0.5s;
}
#info {
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.title {
  font-size: 0.8rem;
  color: black;
  font-style: italic;
}

.price {
  font-size: 0.8rem;
}

#info * {
  margin: 0.25rem;
}

#foto:hover {
  transform: scale(1.04);
  transition: 0.5s;
}
