.searchbar {
  display: flex;
  margin: 0rem 0rem;
  margin-bottom: 1rem;
}
::placeholder {
  padding: 0rem;
}
.searchbar input {
  outline: none;

  height: 3vh;
  border-radius: 0.3rem;
  border: 0rem solid;
  border-color: rgba(43, 43, 43, 0.192);
}

div {
  border: 1px solid;
}
