@media only screen and (max-width: 900px) {
  .catalog-container {
    flex: 1 100%;
    flex-direction: column;
    justify-content: center;
  }

  .catalog {
    flex: 1 100%;
    justify-content: center;
  }
  .sidebar {
    display: none;
    visibility: hidden;
  }

  .navbar {
    padding: 0.5rem;
    flex: 1 100%;
  }
}
@media only screen and (max-width: 400px) {
  .catalog-container {
    flex-direction: column;
    justify-content: center;
  }
  #foto img {
    height: auto;
    width: 100%;

    transition: 0.5s;
  }
  .catalog {
    flex: 1 100%;
    justify-content: center;
  }
  .sidebar {
    display: none;
    visibility: hidden;
  }

  .navbar {
    padding: 0.5rem;
    flex: 1 100%;
  }
}
